<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/56d4243e-ee0b-41bf-a60d-0f522b1f9862/resourceGroups/rg-webapp-demo/providers/Microsoft.Web/sites/employee-webapp-demo</ResourceId>
    <ResourceGroup>rg-webapp-demo</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://employee-webapp-demo-g8hja3and8b2gvec.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>54b77078-7b74-4ba9-a779-f880f9a3bbb0</ProjectGuid>
    <MSDeployServiceURL>employee-webapp-demo-g8hja3and8b2gvec.scm.westeurope-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>employee-webapp-demo</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAC5jqD/rfbkqhYn9rvZG0kwAAAAACAAAAAAAQZgAAAAEAACAAAAAZHBvFBcbLG3/s0IibYl17Hx8dHpRtJ4Zc+6uHxwSxIgAAAAAOgAAAAAIAACAAAADP8lieJVafW6DN/QB0kNhpuIsBVdrfqon/NbdLY7O9AiAAAAAzkSaPZsQ1pADzdg46VMGDUDKU/xz9ZobNLcH+KU8BJ0AAAAAGg7cKPiLKccUwL3YKBDZG77vhsERxn+CYGyApS7glOX4YJ2DueuqI61Hr07Kj97vNRk/iIm1o2o8nuka3DXbH</EncryptedPassword>
    <IsBasicAuthAllowed>True</IsBasicAuthAllowed>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RemoteSitePhysicalPath />
  </PropertyGroup>
</Project>